
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
      
        
        header, main, article, aside, section, footer {
            border: 2px solid #000; 
            padding: 10px; 
            margin-bottom: 10px; 
        }
      
        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        header {
            background-color: #201919;
            padding: 5px; 
            color: white;
            text-align: center;
        }
        ul li {
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        main {
            display: flex;
            padding: 20px;
        }
        article {
            flex: 2;
            margin-right: 20px;
        }
        .columna article {
            width: 32%;
            text-align: center;
            border: 2px solid #1b1a1a; 
           
        }
        .columna  img {
            width: 100%;
            height: auto;
        }
        .columna  p {
            margin: 10px 0;
        }
        .columna  a {
            text-decoration: none;
            color: #221a1a;
        }
        .columns  a:hover {
            color: #362c2c;
        }
        article img {
            width: 100%;
            height: auto;
        }
        article h1 {
            font-size: 24px;
            margin: 10px 0;
        }
        article p {
            text-align: justify;
            margin-bottom: 10px;
        }
        aside {
            flex: 1;
        }
        aside h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        aside ul {
            list-style: disc;
            padding-left: 20px;
        }
        section {
            padding: 20px;
            border: 2px solid #000;
        }
        section h3 {
            font-size: 30px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 2px solid #000;
           
        }
        .columna {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        footer {
            background-color: #413939;
            color: white;
            text-align: center;
            padding: 10px;
        }
     
       
   