body {
    font-family: Arial, sans-serif;
}
input {
    margin-right: 5px;
}

.card-type-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #e6e0e0;
    color: black;
    border-radius: 30%;
    padding: 10px ;
    text-align: center;
    
   
}

fieldset {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    vertical-align: top;
}

textarea {
    width: 200px; 
    padding: 8px;
    margin-bottom: 10px;
}




